<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(187, 81, 10, 0.507);">
    <div class="container-fluid">
    
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="['home']" style="color: white; text-transform: uppercase;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['documents']" style="color: white; text-transform: uppercase;">Documents</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']" style="color: white; text-transform: uppercase;">About</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>